<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Game Page</title>
</head>
<body>

<div>Game</div>

<script src="/choice_files/jquery-1.10.2.min.js"></script>
<script src="/javascripts/gamePage.js"></script>
</body>
</html>